$padding_default: 10px;

.weather-wrapper {
  flex-direction: row;
  display: flex;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weather-box-details {
  flex: 2;
  background:#555;
  padding: $padding_default;
}