$padding_default: 10px;
$margin_default: 10px;
$font_size_default: 15px;
$line_height_default: 35px;

.details-wrapper {
  padding: $padding_default 0;
  color: #fff;
  text-transform: capitalize;
  font-size: $font_size_default+2;
}

.details-wrapper > div {
  line-height: $line_height_default;
}