$padding_default: 10px;
$margin_default: 10px;
$font_default: 10px;
$height_width_default: 100px;
$input_text_color: #a9a9a9;
$background: #444;

//i hate doing this but it makes things look nicer, no, bad focus border
input:focus{
  outline: none;
}

input {
  height: $height_width_default/4.1;
  width: 42%;
  margin: $margin_default/2 $margin_default/2 $margin_default/2 0;
  border: none;
  padding: $padding_default/2 $padding_default/2;
  background: $background;
  color: $input_text_color;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $input_text_color;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: $input_text_color;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: $input_text_color;
}
input:-moz-placeholder { /* Firefox 18- */
  color: $input_text_color;
}

.submit-btn {
  width: 10%;
  padding: $padding_default/($padding_default/$padding_default);
  border: 0;
  height: $height_width_default/2.9;
  background: $background;
  color: $input_text_color;
}