$font_size_default: 35px;

.weather-image-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #4381d6;
}

.weather-box-image {
  flex: 3;
  align-items: center;
  justify-content: center;
  display: flex;
}

.weather-details {
  flex: 1;
  display: flex;
  align-items: center;
  background: #2564bb;
}

.weather-temp-min, .weather-temp-max {
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: $font_size_default;
  display: flex;
  color: #fff;
}