$padding_default: 10px;
$margin_default: 10px;
$font_size_default: 10px;
$white: #fff;
$darkGrey: #444;

.title-wrapper {
  color: $white;
  padding-bottom: $padding_default*1.5;
  text-align: center;
  border-bottom: 1px dashed $darkGrey;
  margin-bottom: $margin_default;
  text-transform: capitalize;
}

.title {
  font-size: $font_size_default*3;
}

.sub-title {
  font-size: $font_size_default+2;
  text-transform: capitalize;
}